{{en-daypicker-header
  month=month
  year=year
  previousMonth=(action "previousMonth")
  nextMonth=(action "nextMonth")
  changeYear=(action "changeYear")
}}

<div class="en-daypicker-month-wrapper">
  <div class="en-daypicker-month">
    <div class="en-daypicker-header">
      {{#each-in weekDays as |abbr expanded|}}
        <div class="en-daypicker-header-day">
          <abbr title="{{expanded}}">
            {{abbr}}
          </abbr>
        </div>
      {{/each-in}}
    </div>

    {{#each weeksArray as |week|}}
      <div class="en-daypicker-week" role="row">
        {{#each week as |day|}}
          <div onclick={{action "didSelectDate" day}}
              tabindex=0
              role="gridcell"
              aria-label="{{en-date-format date=day format=defaultFormat}}"
              aria-disabled="{{if (isDisabled day=day disabler=disableFn month=month max=maxDate min=minDate) 'is-disabled'}}"
              data-daypicker-day="{{en-date-format date=day format="e"}}"
              class="en-daypicker-day 
                {{if (isDisabled day=day disabler=disableFn month=month max=maxDate min=minDate) 'is-disabled'}}
                {{if (isThisDay day=day date=date) 'is-selected'}}
                {{if (isThisDay day=day date=today) 'is-today'}}">
            <span class="en-daypicker-day-text">
              {{en-date-format date=day}}
            </span>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>
