<header>
  {{calendar-logo}}
  <h1 class="fw9">ember-daypicker</h1>
</header>

<div class="header-addendum"></div>

<section class="sans pa4 center container">
  <nav>
    {{link-to "Basic Usage" "index"}}
    {{link-to "Formatting Dates" "formatting-dates"}}
    {{link-to "Disabling Dates" "disabling-dates"}}

    <a target="_blank" href="https://github.com/swastik/ember-daypicker">
      View on Github
    </a>
  </nav>

  <div class="content lh-copy">
    <p class="mid-gray f4">
      ember-daypicker is a datepicker component for ember.js. It's built using moment.js; there are no
      external datepicker libraries. There's basic keyboard support too.
    </p>

    {{outlet}}
  </div>
</section>
